#login {

  .login-box {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding-top: 25px;
    padding-bottom: 25px;

    .logo {
      padding-bottom: 25px;
      margin: 0 auto;

      font-size: 18px;
      color: @brand-primary;
      text-align: center;
    }

    .form {
      width: 100%;
      margin: 0 auto;


      .form-element {
        width: 70%;
        margin-left: 15%;
      }

      .form-control {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 1px solid #AAA;
        margin-bottom: 15px;

        background-color: rgba(255, 255, 255, 0);
        color: #EEE;

      }
    }

  }
}